<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.2" package="com.Leclerc.SAV" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="28" />
	<application android:label="SAV E.Leclerc Royan" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>